<div id="uploaded" th:fragment="table" hx-target="closest div" hx-swap="outerHTML"
     class="candidate-table flex-stack text-medium">
    <div class="candidate-row flex-container">
        <p class="candidate-display-left">Name</p>
        <div class="flex-container right-pushed">
            <button class="button-light button-enlarge candidate-display-right"
                    hx-put="/candidate/select/all?select=true"
                    hx-target="#uploaded"
                    hx-swap="outerHTML"
            >Select All
            </button>
            <button class="button-dark button-enlarge candidate-display-right"
                    hx-delete="/candidate/delete/all"
                    hx-target="#uploaded"
                    hx-swap="outerHTML"
            >Delete Selected
            </button>
        </div>
    </div>
    <div class="candidate-row flex-container" th:each="candidate : ${candidates}">
        <p class="candidate-display-left" th:text="${candidate.name}">Value</p>
        <button class='candidate-display-right'
                th:classappend="${candidate.currentlySelected ? 'button-light' : 'button-dark'}"
                th:attr="hx-put=@{|/candidate/select/${candidate.id}?select=${!candidate.currentlySelected}|} "
                th:text="${candidate.currentlySelected} ? Selected : Select"
                hx-swap="innerHTML">
        </button>
        <button class='button-dark'
                th:attr="hx-delete=@{|/candidate/delete/${candidate.id}|}">Delete
        </button>
    </div>
</div>
