<header class="primary-header flex-container highlight" th:fragment="header">
    <a class="text-small icon-link" href="https://consultmobius.com/">
        <img alt="Mobius Logo" class="logo-image" th:src="@{/images/mobius_logo.png}">
    </a>
    <a class="text-small icon-link" th:href="@{/}"><img alt="Smart Jobs Logo"
                                                                                            class="logo-image"
                                                                                            th:src="@{/images/smart_jobs_logo.png}">
    </a>
    <nav class="primary-navigation flex-container right-pushed">
        <div class="right-pushed">
            <div class="header-info credit" th:if="${credits != null}">
                <img alt="Credits" class="credit-image" th:src="@{/images/credit.png}">
                <span hx-ext="sse"
                      hx-swap="innerHtml"
                      hx-target="this"
                      hx-trigger="load"
                      sse-connect="/sse/register"
                      sse-swap="credit"
                      th:text="|${credits}|"
                ></span>
            </div>
            <a class="header-info button-header"
               hx-swap="innerHtml"
               hx-target="next main"
               hx-trigger="click"
               th:attr="hx-get=@{|/${navElement.link}|}"
               th:classappend="${navElement.currentPage} ? 'button-header-current'"
               th:each="navElement : ${navElements}"
               th:text="${navElement.name}"></a>
            <a th:replace="${loggedIn} ? ~{header/account-button} : ~{header/login-button}"></a>
        </div>
    </nav>
    <div th:replace="${loggedIn} ? ~{trigger/message-trigger} : ~{trigger/empty-trigger}"></div>
    <div class="attacher" id="message"></div>
</header>