<div class="top-padding"></div>
<div class="flex-container">
    <div th:replace="candidate/candidate-count"></div>
</div>
<div xmlns:th="http://www.w3.org/1999/xhtml">
</div>
<div class="candidate-table flex-stack text-medium"
     id="scoring">
    <button class="button-light button-enlarge"
            hx-get="/analysis/scoring"
            hx-indicator="#loading-icon"
            hx-swap="innerHTML"
            hx-target="#scoring"
            hx-trigger="click">Confirm you want to proceed with analysis
    </button>
    <div class="text-large" hx-ext="sse" hx-swap="innerHtml" hx-target="#progress"
         sse-connect="/sse/register" sse-swap="progress">
        Analyzed: <span id="progress" th:text="|0/${selectedCount}|"></span>
    </div>
    <img alt="loading" class='htmx-indicator' id="loading-icon" th:src="@{/images/loading.gif}"/>
</div>