<!DOCTYPE html>
<html lang="en">
<head th:replace="head"></head>
<body class="background wrapper" id="mainBody">
<header th:replace="header"></header>
<div id="error"></div>
<main>
    <div class="flex-container">
        <div class="flex-container" hx-get="/candidate/number/selected" hx-swap="innerHTML" hx-target="this"
             hx-trigger="load, candidate-count-updated from:body"></div>
        <a class="button-light button-enlarge right-pushed" th:href="@{/upload}">Upload Additional Candidates</a>
    </div>
    <div class="loading-container" hx-get="/candidate" hx-swap="outerHTML" hx-target="#table-placeholder"
         hx-trigger="load"
         id="table-placeholder">
        <h1 class="text-large">Loading Candidates</h1>
        <img class='htmx-indicator' th:src="@{/images/loading.gif}"/>
    </div>
</main>
<footer th:replace="footer"></footer>
</body>
</html>
