<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" th:href="@{/favicon/favicon.ico}" type="image/png"/>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Smart Jobs</title>
    <link th:rel="stylesheet" th:href="@{/styles/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap" rel="stylesheet">
</head>
<body class="background wrapper" id="mainBody">
<main>
    <div class="flex-column right-nudged text-large">
        <h1>Oops! Something went wrong!</h1>
        <a th:href="@{/}" class="button-dark button-enlarge">Please click here to go to the homepage</a>
    </div>
</main>
</body>
</html>