<div id=gptchat xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="speech-bubble-gpt">
        <p th:text="|The top ${numberTop} candidates are|"></p>
        <span th:each="topScorer : ${topScorers}">
            <span th:text="|Name: ${topScorer.name} - Percentage Match: ${topScorer.match}%|"></span>
        </span>
        <p th:text="|Overall ${topScorerName} scored the highest. This is why they were picked:|"></p>
        <p th:text="${gptJustification}"></p>
    </div>
    <a class="button" th:href="@{|/files/${topScorerCv}|}" th:text="|Download ${topScorerName}'s CV|"></a>
    <textarea cols="50" id="ask-further" name="ask-further" rows="4"></textarea>
</div>