<!DOCTYPE html>
<html lang="en">
<head th:replace="header/head"></head>
<link rel="shortcut icon" type="image/png" th:href="@{/favicon/favicon.ico}"/>
<body id="mainBody" class="background wrapper">
<header th:replace="header/header"></header>
<main>
    <div class="top-padding"></div>
    <div>
        <div class="heading">
            <h1 class="landing-text text-xl">Smart Jobs</h1>
            <p class="landing-text text-medium tagline">Simple. Secure. Smarter</p>
        </div>
        <div class="heading landing-text text-small">
            <p class="spaced-paragraph">Welcome to Smart Jobs, the next-generation recruitment platform that
                revolutionizes the way you find and hire top talent. With our cutting-edge AI technology, recruiters can
                now streamline the candidate screening process like never before, saving time, effort, and resources
                while identifying the perfect fit for every position.
            </p>
            <div class="info-area">
                <h3 class="text-medium">How to get started</h3>
                <div class="info">
                    Ready to start analyzing candidates? The guide below will take you through it step-by-step.
                </div>
                <h3 class="text-medium">Set up a Role</h3>
                <div class="info">
                    You can start by creating a new role and customising your criteria on the <a hx-get="/roles"
                                                                                                 hx-swap="innerHtml"
                                                                                                 hx-target="closest main"
                                                                                                 hx-trigger="click"
                                                                                                 class="highlighted">Roles</a>
                    page.
                    Select a criteria you'd like to add and choose your max score - this is the weighting you apply to
                    the criteria. The more important the criteria, the higher the max score!
                    <br/>
                    <br/>
                    You can apply up to 10 criteria per role. For a summary of the scoring rules for each criteria, just
                    hover over the information symbol next to it.
                </div>
                <h3 class="text-medium">Add Candidates</h3>
                <div class="info">
                    Once you're happy with your role criteria, jump to the <a hx-get="/candidates" hx-swap="innerHtml"
                                                                              hx-target="closest main"
                                                                              hx-trigger="click" class="highlighted">Candidates</a>
                    page, where you can upload resumes. Resumes uploaded into the system are anonymised and any
                    information which might indicate age, ethnicity or gender is removed (don't worry, you'll still be
                    able to see their name).
                    <br/>
                    <br/>
                    Start by running just a few - you may want to go back and tweak your criteria.
                </div>
                <h3 class="text-medium">Analyze</h3>
                <div class="info">
                    From the <a hx-get="/candidates" hx-swap="innerHtml" hx-target="closest main" hx-trigger="click"
                                class="highlighted">Candidates</a> page, select the candidates you'd like to analyse and
                    click 'Analyze Selected Candidates'.
                    <br/>
                    <br/>
                    The analysis should take just a few seconds, then you'll be able to see your overall scores and
                    score breakdowns, as well as an explanation for why that score was awarded.
                </div>
                <h3 class="text-medium">How do credits work?</h3>
                <div class="info">
                    One credit is used each time a candidate is uploaded or analysed.
                </div>
                <h3 class="text-medium">Want more free credits?</h3>
                <div class="info">
                    Join our free beta trial! Email us at support@secretsauce.site
                </div>
                <h3 class="text-medium">Do you integrate with any applicant tracking systems?</h3>
                <div class="info">
                    Not just yet, but watch this space! We're still in beta, so we're not quite at the level of the
                    finished product just yet.
                    <br/>
                    <br/>
                    As we are in beta, any loss of free credits through bugs or accident will not be returned.
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="footer/footer"></footer>
    </body>
</html>

