<p>This role is for the position <span th:text="${role.position}"></span></p>
    <div th:each="category : ${role.categories}">
        <div class="flex-container">
            <p th:text="${category.name}"></p>
            <button class="button-light button-minified"
                    th:attr="hx-get=@{|roles/criteria/${category.name}|}"
                    hx-swap="innerHTML"
                    hx-target="#select-criteria"
                    hx-trigger="click"
            >+
            </button>
        </div>
        <div class="flex-container" th:each="sc : ${category.criteria}">
            <p class="text-small right-nudged" th:text="|${sc.description}, scored out of ${sc.weight}|"></p>
            <button class="button-light button-minified"
                    th:attr="hx-delete=@{|roles/criteria/${sc.id}|}"
                    hx-swap="outerHtml"
                    hx-target="closest div"
                    hx-trigger="click"
            >-
            </button>
        </div>
    </div>