<div th:role-id="${role.id}" id="role-display" th:fragment="role" class="text-medium">
    <p>This role is for the position <span th:text="${role.position}"></span></p>
    <div th:each="category : ${role.categories}">
        <p th:text="${category.name}"></p>
        <p class="text-small right-nudged" th:each="sc : ${category.criteria}"
           th:text="|${sc.description}, scored out of ${sc.weight}|"></p>
    </div>
    <div class="flex-container">
        <button class="button-light" th:each="category : ${categories}" th:text="'Add new ' + ${category}"
                th:attr="hx-get=@{|roles/criteria/${category}|}"
                hx-swap="outerHTML"
                hx-target="closest div"
                hx-trigger="click"
        ></button>
    </div>
</div>