<div class="sidebar" id="saved-role"
     th:fragment="saved-role"
     hx-get="/roles/saved"
     hx-swap="outerHTML"
     hx-target="this"
     hx-trigger="role-changed from:body">
    <div class="flex-container saved-role"
         th:each="role : ${savedRoles}"
    >
        <button class="right-nudged hidden-button"
             th:classappend="${currentlySelected == role.id} ? currently-selected : ''"
             th:text="${role.position}"
             hx-swap="innerHTML"
             hx-target="#role-display"
             hx-trigger="click"
             th:attr="hx-get=@{|/roles/display/${role.id}|}">

        </button>
        <button class="button-light right-pushed"
                hx-swap="outerHTML"
                hx-target="closest div"
                hx-trigger="click"
                th:attr="hx-delete=@{|/roles/delete/${role.id}|}"
        >X
        </button>
    </div>
    <div class="flex-stack saved-role"
         hx-swap="innerHTML"
         hx-target="#role-display"
         hx-trigger="click"
         hx-get="/roles/template"
    >
        <button class="button-light button-enlarge">Add New Role</button>
    </div>
</div>