<div class="candidate-table flex-stack" id="scoring">
    <div class="candidate-row flex-container">
        <p class="candidate-display-left">Name</p>
        <p class="candidate-display-right">Percent</p>
    </div>
    <div class="candidate-row flex-container"
         hx-swap="outerHTML"
         hx-target="this"
         th:attr="hx-get=@{|analysis/result/details/${result.uuid}|}"
         th:each="result : ${results}">
        <p class="candidate-display-left" th:text="|❯ ${result.name}|"></p>
        <p class="candidate-display-right" th:text="|${@numberFormatUtils.formatNumber(result.percentage)}%|"></p>
    </div>
</div>