    <div th:text="${criteria.description}"></div>
    <form th:attr="hx-post=@{|roles/save/${criteria.id}|}"
          hx-swap="innerHtml"
          hx-include="[value='value']"
          hx-target="#select-criteria"
    >
        <label th:if="${criteria.needsInput}" for="value">Criteria value: </label><input th:if="${criteria.needsInput}"
                                                                                         type="text" id="value"
                                                                                         name="value"><br>
        <label for="score">Score: </label><input type="text" id="score" name="score"><br>
        <button class="button-light">Submit</button>
    </form>