<table id="uploaded" th:fragment="table" hx-get="/candidate" hx-swap="outerHTML swap">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML swap">
    <tr th:each="candidate : ${candidates}">
        <td th:text="${candidate.name}">Value</td>
        <td>
            <button class='btn btn-danger' th:attr="hx-delete=@{|/candidate/delete/${candidate.uuid}|}">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>