<div id="uploaded" th:fragment="table" hx-target="closest div" hx-swap="outerHTML"
     class="candidate-table flex-stack text-medium">
    <div class="candidate-row flex-container">
        <p class="candidate-display-left">Name</p>
        <p class="candidate-display-right">Delete</p>
    </div>
    <div class="candidate-row flex-container" th:each="candidate : ${candidates}">
        <p class="candidate-display-left" th:text="${candidate.name}">Value</p>
        <button class='button-dark candidate-display-right'
                th:attr="hx-delete=@{|/candidate/delete/${candidate.uuid}|}">Delete
        </button>
    </div>
</div>
