<div class="top-padding"></div>
<form class="flex-stack gappy"
      hx-encoding="multipart/form-data"
      hx-post="/candidate/upload"
      hx-swap="innerHTML"
      hx-target="closest main"
      id="upload-form">
    <label class="drop-container" for="files" id="dropcontainer">
        <span class="drop-title text-large">Drop files here<br>or</span>
    </label>
    <input accept=".txt, .pdf" class="text-medium" id="files" multiple name="files" type="file">
    <button class="button-light button-enlarge" type="submit">Upload Files</button>
    <div class="text-large" hx-ext="sse" hx-swap="innerHtml" hx-target="this" sse-connect="/sse/register"
         sse-swap="progress-upload">Uploaded: 0/X
    </div>
    <img class='htmx-indicator' th:src="@{/images/loading.gif}"/>
</form>
<script>
    const dropContainer = document.getElementById("dropcontainer")
  const fileInput = document.getElementById("files")

  dropContainer.addEventListener("dragover", (e) => {
    // prevent default to allow drop
    e.preventDefault()
  }, false)

  dropContainer.addEventListener("dragenter", () => {
    dropContainer.classList.add("drag-active")
  })

  dropContainer.addEventListener("dragleave", () => {
    dropContainer.classList.remove("drag-active")
  })

  dropContainer.addEventListener("drop", (e) => {
    e.preventDefault()
    dropContainer.classList.remove("drag-active")
    fileInput.files = e.dataTransfer.files
  })
</script>