<div class="top-padding"></div>
<form class="flex-stack gappy"
      hx-encoding="multipart/form-data"
      hx-post="/candidate/upload"
      hx-swap="innerHTML"
      hx-target="closest main"
      id="upload-form">
    <label class="drop-container" for="files" id="dropcontainer">
        <span class="drop-title text-large">Drop files here<br>or</span>
    </label>
    <div class="flex-container">
        <input accept=".txt, .pdf, .doc, .docx" class="text-medium" id="files" multiple name="files" type="file">
        <button id="clear" class="button-dark button-enlarge">Reset Selected</button>
        <button class="button-light button-enlarge" type="submit">Upload Files</button>
    </div>
    <div class="text-large" hx-ext="sse" hx-swap="innerHtml" hx-target="this" sse-connect="/sse/register"
         sse-swap="progress-upload">Uploaded: 0/X
    </div>
    <img alt="loading" class='htmx-indicator' th:src="@{/images/loading.gif}"/>
</form>
<script type="text/javascript" th:src="@{/js/upload.js}"></script>