<div id="category-criteria" class="flex-stack left-justified">
    <div class="flex-container" th:each="cr : ${criteria}">
        <button class="hidden-button" th:text="${cr.description}"
                th:attr="hx-get=@{|roles/select/${cr.id}|}"
                hx-swap="outerHTML"
                hx-target="#category-criteria"
                hx-trigger="click"
        ></button>
        <div>
            <span class="tooltip-prompt">ⓘ<span class="tooltip" th:text="${cr.tooltip}"></span>
            </span>
        </div>
    </div>

</div>