:root {
    --clr-highlight: rgb(1, 19, 45);
    --clr-background: rgb(8, 10, 19);
    --clr-text: rgb(204, 207, 235);
    --clr-error: rgb(102, 2, 29);

    --ff-primary: "Heebo", sans-serif;

    --ff-body: var(--ff-primary); 
    --ff-heading: var(--ff-primary);

    --fs-mini: 0.75rem;
    --fs-small: 1.25rem;
    --fs-medium: 1.75rem;
    --fs-large: 3rem;
    --fs-extra-large: 5rem;
}

* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

main {
    padding-top: 70px;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html,
body {
    height: 100%;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
svg,
img,
picture {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

label {
    padding-right: 30px;
}

input[type=text] {
    margin-top: 10px;
    padding-left: 10px;
    background-color: var(--clr-text);
    color: var(--clr-background);
    border: 1px solid var(--clr-highlight);
    border-radius:10px;
}

/* Utility Classes */                                                
.text-small {
    color: var(--clr-text);
    font-size: var(--fs-small);
    font-family: var(--ff-body);
}

.text-medium {
    color: var(--clr-text);
    font-size: var(--fs-medium);
    font-family: var(--ff-body);
}

.text-large {
    color: var(--clr-text);
    font-size: var(--fs-large);
    font-family: var(--ff-heading);
}

.text-xl {
    color: var(--clr-text);
    font-size: var(--fs-extra-large);
    font-family: var(--ff-heading);
}

.background {
    background-color: var(--clr-background);
}

.highlight {
    background-color: var(--clr-highlight);
}

/* Main Classes */      
.primary-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
}

.top-padding{
    height: 70px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.flex-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.icon-link {
    padding: 5px 20px;
    text-decoration: none;
}

.button-light {
  background-color: var(--clr-text);
  color: var(--clr-background);
  border: none;
  padding: 2px 7px;
  margin: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: var(--ff-body);
  font-size: var(--fs-small);
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button-light:hover {
  background-color: var(--clr-highlight);
  color: var(--clr-text);
}

.button-dark {
  background-color: var(--clr-highlight);
  color: var(--clr-text);
  border: none;
  padding: 2px 7px;
  margin: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--fs-small);
  font-family: var(--ff-body);
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button-dark:hover {
  background-color: var(--clr-text);
  color: var(--clr-background);
}


.button-enlarge {
  border: none;
  padding: 4px 14px;
  margin: 60px 60px;
  font-size: var(--fs-medium);
}

.button-header-dark {
   background-color: var(--clr-background)
}

.button-header-light:hover {
    background-color: var(--clr-background)
}

.right-pushed {
    margin-left: auto;
}

.right-nudged {
    padding-left: 50px;
}

.left-nudged {
    padding-right: 50px;
}
.landing-text {
    text-align: center;
}

.heading {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    padding-left: 10%;
    padding-right: 10%;
}

.tagline {
    opacity: 0.75;
}

.spaced-paragraph {
    padding-bottom: 30px;
}

.primary-footer {
    height: 100px;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

.social-media-area {
    padding-left: 30px;
    
}

.contact-us {
    padding-right: 40px;
}

.candidate-table {
    width: 100%;
    border-left: none;
    border-right: none;
}

.candidate-row {
    border-bottom: 1px solid;
    border-color: var(--clr-text);
    width: 90%;
    left-margin: 5%;
}

.candidate-display-left {
    margin: 10px 20px;
}

.candidate-display-right {
    margin: 10px 20px;
    margin-left: auto;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 40px;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed;
  color: var(--clr-text);
  font: var(--ft-body);
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: var(--clr-text);
  border-color: var(--clr-background);
}

.drop-container:hover .drop-title {
  color: var(--clr-background);
}

.drop-title {
  color: var(--clr-text);
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--clr-text);
  color: var(--clr-background);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: var(--clr-highlight);
  color: var(--clr-text);

}

.gappy {
    gap: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.error-message {
    background: var(--clr-error);
    text-color: var(--clr-text);
    position: fixed;
    top: 10%;
    left: 10%;
    margin-left: -150px;
    padding: 20px
    width: 300px;
    border-radius: 8px;
    z-index: 110;
    padding: 8px 14px;
    animation: fadeOut 5s ease 3s forwards;
    box-shadow:
    	0px 1px 1px rgba(000,000,000,0.5),
    	inset 1px 2px 0px rgba(255,255,255,0.4);
    text-shadow:
    	1px 1px 2px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.4);
}

@keyframes fadeOut{
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        left: 10%
    }
    100% {
        left: -100%;
        opacity: 0;
        display: none;
    }
}

.sidebar {
    width: 20%;
    margin-right: 40px;
    height: 80vh;
    border-right: 1px solid;
    padding-top: 70px
}

.saved-role {
    justify-content: left;
    margin-top: 20px;
}

.currently-selected {
    font-weight: bold;
}

.button-minified {
}

.text-only {
    color: var(--clr-text);
    font-size: var(--fs-medium);
    font-family: var(--ff-body);
    display: block;
    text-align: left;
    justify-self: left;
}

.tooltip {
    z-index: 110;
    position: absolute;
    margin-left: 0px;
    bottom: 125%;
    left: 50%;
    background-color: var(--clr-highlight);
    border-style: solid;
    border-width: 2px;
    border-color: var(--clr-background);
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    font-size: var(--fs-mini);
    width: max-content;
    max-width: 200px;
    white-space: pre-wrap;
    transition: opacity 0.5s ease;
}

.tooltip-prompt {
    transform: translateY(-50%);
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}

.tooltip-prompt:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.hidden-button {
    background-color: transparent;
    border: none;
    color: var(--clr-text);
}

.left-justified {
    align-items: flex-start;
}