:root {
    --clr-highlight: rgb(1, 19, 45);
    --clr-background: rgb(8, 10, 19);
    --clr-text: rgb(175, 177, 195);

    --ff-primary: "Sorts Mill Goudy", serif; 
    
    --ff-body: var(--ff-primary); 
    --ff-heading: var(--ff-primary); 

    --fs-small: 1.25rem;
    --fs-medium: 1.75rem;
    --fs-large: 3rem;
    --fs-extra-large: 5rem;
}

* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

main {
    padding-top: 140px;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html,
body {
    height: 100%;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
svg,
img,
picture {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */                                                
.text-small {
    color: var(--clr-text);
    font-size: var(--fs-small);
    font-family: var(--ff-body);
}

.text-medium {
    color: var(--clr-text);
    font-size: var(--fs-medium);
    font-family: var(--ff-body);
}

.text-large {
    color: var(--clr-text);
    font-size: var(--fs-large);
    font-family: var(--ff-heading);
}

.text-xl {
    color: var(--clr-text);
    font-size: var(--fs-extra-large);
    font-family: var(--ff-heading);
}

.background {
    background-color: var(--clr-background);
}

.highlight {
    background-color: var(--clr-highlight);
}

/* Main Classes */      
.primary-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-link {
    padding: 5px 20px;
    text-decoration: none;
}

.button {
  background-color: var(--clr-text);
  border: none;
  color: var(--clr-background);
  padding: 2px 7px;
  margin: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--fs-small);
  border-radius: 8px;
}

.right-pushed {
    margin-left: auto;
}

.landing-text {
    text-align: center;
}

.heading {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    padding-left: 10%;
    padding-right: 10%;
}

.tagline {
    opacity: 0.75;
}

.spaced-paragraph {
    padding-bottom: 30px;
}

.primary-footer {
    height: 100px;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

.social-media-area {
    padding-left: 30px;
    
}

.contact-us {
    padding-right: 40px;
}
